.main-image-container {
    background-image: url(../../assets/images/main-video-image.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 440px;
    min-width: 100%;
}