.main-image-container {
  background-image: url(../../assets/images/ustanovka_video.jpg);
  background-color: black;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 440px;
  min-width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  position: relative;
}

.main-image-wrapper {
  position: relative;
}

@media screen and (min-width: 759px) {
  .main-section-mobile {
    display: none;
  }
}

.main-section {
  display: flex;
  align-items: center;
  margin-right: 10%;
  font-family: "Roboto, sans-serif";
  width: 30%;
  line-height: 40px;
}

.main-row-1 {
  color: #fcfcfc;
  font-size: 30px;
  font-weight: 300;
  filter: unset;
}

.main-row-2 {
  color: #2d2d2d;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}

.main-row-3 {
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  fill: #2d2d2d;
  color: #2d2d2d;
  background-color: #f18f01;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 0 10px 0 rgb(45 45 45 / 29%);
  cursor: pointer;
  padding: 20px 40px;
  border-color: black;
  margin-top: 30px;
  transition-duration: 0.5s;
}

.main-row-3:hover {
  transform: scale(1.1);
  background-color: #2d2d2d;
  color: #f18f01;
}

.curve-svg {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.description-section {
  margin-top: 60px;
}

.description-title {
  font-size: 35px;
  font-family: "Roboto, sans-serif";
  font-weight: 600;
  margin: 0 20%;
}

.description-warn-section {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.description-warn {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
}

.warn-image {
  margin-left: 10%;
}

.description-warn-animation {
  animation-duration: 2s;
  animation-name: moveToRight;
}

.vigil-image {
  margin-right: 10%;
}

.vigil-image-animation {
  animation-duration: 2s;
  animation-name: moveToLeft;
}

@media screen and (max-width: 880px) {
  .description-warn-section {
    display: block;
  }
  .vigil-image {
    margin: 10px 20px;
  }
}

@media screen and (max-width: 760px) {
  .main-section {
    display: none !important;
  }
  .main-image-container {
    min-height: unset;
    justify-content: center;
  }
  .main-row-3 {
  }
}

@media screen and (max-width: 576px) {
  .main-image-container {
    justify-content: center;
  }

  .description-title {
    margin: 0 10px;
    font-size: 26px;
  }

  .main-section {
    width: 100%;
    margin: 0 30px;
  }

  .description-warn {
    margin: 0 10px;
    text-align: center;
  }

  .warn-image {
    margin: 0 10px;
  }
}

.price-image {
  width: 55%;
}

@media screen and (min-width: 1200px) {
  .main-section {
    justify-content: flex-end;
  }
}

@keyframes moveToLeft {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveToRight {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
