.header-top {
  padding: 15px 0;
}

.header-container {
  padding: 0 15px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Open Sans", sans-serif;
}
.header-logo {
  max-width: 55%;
}

.header-phone-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.header-img-container {
  max-width: 312px;
  min-width: 310px;
  display: flex;
  position: relative;
  justify-content: center;
}

.header-img-title {
  position: absolute;
  top: 0;
  left: 43%;
  color: #6e6a6a;
  font-family: cursive;
}

.header-personal-area {
  margin-right: 30px;
  display: flex;
  align-items: flex-end;
  gap: 4px;
  border-bottom: 1px dashed #788ec7;
}

.personal-are-title {
  padding-bottom: 2px;
  color: #788ec7;
}

.header-phone {
  font-size: 26px;
  text-decoration: none;
  color: #788ec7;
  font-weight: bolder;
}

.phone-area {
  margin-right: 20px;
}

.header-phone:hover {
  color: black;
}

.btn-group {
  display: flex;
  justify-content: space-evenly;
}

.deal-button {
  color: black;
  background-color: white;
  border-color: black;
  padding: 12px 20px;
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.5rem;
  text-align: center;
  line-height: 22px;
}

.deal-button:hover {
  border: 2px solid #5fc9e1;
}

.deal-button:focus {
  background-color: inherit;
}

.order-button {
  padding: 12px 20px;
  text-decoration: none;
  color: #fff;
  background: #788ec7;
  font-size: 14px;
  display: inline-block;
  margin: 0px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  text-decoration: none;
  border: 2px solid transparent;
  text-align: center;
  line-height: 22px;
}

.order-button:focus {
  background-color: #788ec7;
}

.order-button:hover {
  background-color: #607abb;
}

.btn-title {
  padding: 0 15px;
}

.sticky-header {
  background: #f4f5f7;
  border-top: 1px solid #dfe2e7;
  padding: 0;
  position: sticky;
  top: 0;
}

@media screen and (max-width: 768px) {
  .header-img-container {
    width: 100%;
    min-width: unset;
    max-width: unset;
  }
}

@media screen and (max-width: 576px) {
  .header-container {
    display: block;
  }

  .header-phone-section {
    margin: 10px 0;
  }

  .deal-button,
  .order-button {
    border-radius: 10px;
    padding: 12px 25px;
  }

  .header-phone {
    font-size: 20px;
  }
}
